@font-face
{
        font-family: 'Raleway1';

        src: url('font/Raleway-Medium.ttf');

}
@font-face
{
        font-family: 'Raleway2';

        src: url('font/Raleway-SemiBold.ttf');

}
@font-face
{
        font-family: 'Raleway3';

        src: url('font/Raleway-Light.ttf');

}
body
{
        font-family: Raleway1;
        color:#181818 ;
        padding: 0;
        margin: 0;
}
header , #bloc-page
{
        padding: 0 82px;
}
#logo img
{
        width: 90px;
        height: 40px;
}
#logo
{
        margin-top: 30px;
}
nav
{ 
        margin-top: 30px;
        width: 100%;
}
nav ul
{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;   
}
nav a
{
        font-family: Raleway2, serif;
        font-size:0.9em;
        font-weight: normal;
        text-decoration: none;
        color:black;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 20px;
        padding-right: 20px;
}
nav li :hover
{
        color: #0065FC;
        border-top: 1px solid #0065FC;
        padding-top: 42px;
}
.monheader
{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
.titre h3
{
        margin-top: -1%;
        font-family: Raleway3, serif;
        font-size: 0.9em;
}
.banière_recherche
{
        display: flex;
        flex-direction: column;
}
.recherche
{
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1%;
        width: 100%;
}

#logo_map
{
        padding: 16px;
        padding-left: 18px;
        padding-right: 18px;
        border: 1px solid  #F2F2F2 ;
        background-color:  #F2F2F2;
        border-radius: 30% 0% 0% 30%;
}
#champ_text input
{
        width: 200px;
        height: 48px;
        border: 1px solid  #F2F2F2 ;
}
input
{
        font-family: Raleway2;
        font-size: 15px;
        padding-left: 10px;
}
#button-s
{
        width: 120px;
        height: 52px;
        margin-left: -2px;
        background-color:#0065FC;
        border-radius: 0 15px 15px 0;
        text-align: center;
}
.button_search1
{
        text-decoration: none;
        color: white;
        font-family: Raleway2, serif;
        display: inline-block;
        line-height: 52px;
        font-size: 1em;
        padding-right: 15px;
        padding-left: 15px;
}
.button_search2
{
        display: none;
}
.filtre
{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap; 
        width: 100%;
        margin-top:1%;
}
.bund
{    
        display: inline-block;
        border-top: 2px solid #F2F2F2;
        border-bottom: 2px solid #F2F2F2;
        border-right: 2px solid #F2F2F2;
        border-radius: 30px;
        margin-right: 20px;
        margin-left: 20px;
}
.filtre a
{   
        display: inline-block;
        padding: 8px;
        padding-right: 12px;
        text-decoration: none;
        font-family: raleway2, serif;
        color: black;
        text-align: center;
}
.filtre i
{
        padding: 8px;
        color:#0065FC;
        background-color:#DEEBFF;
        border: 4px solid #DEEBFF;
        border-radius: 50%;
}
.filtre p
{
        font-family: raleway2, serif;
        font-size:1.1em;
        margin-left: 5px;

}
.infos-dispo
{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
}
.infos-dispo i
{
        color: #0065FC;
        margin-right:10px;
}
.infos-dispo p
{
        font-size: 15px;
}
.heberg
{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
#conteneureth3
{
        display: flex;
        flex-direction: column;
        width: 60%;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-top:1%;

}
.conteneur
{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
        flex-wrap: wrap;
}
.element1
{   
        width: 30%;
        margin-bottom: 25px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgb(210, 210, 210);
        word-wrap: break-word;
}
.element1 img
{
        width: 96%;
        height: 150px;
        margin-left: 2%;
        margin-top: 2%;
        margin-right:2%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
}
.starb
{
        color:#0065FC ;
        font-size: 15px;
        font-weight: inherit;
}
.starg
{
        color: #F2F2F2;
}
.text1 , .text2 , .text3
{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom:3%;  
}
.text1
{
        font-weight: bold;
        font-size: 16px;
}
.text2
{
        font-size: 12px;
}
.text3
{
        font-size: 12px;
}
#conteneureth3 .firsth3
{
        margin-left: 40px;
}
#conteneureth3 .scdh3
{
        margin-left: 40px;
}
.populaireeth3
{   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-top: 1%;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
}
.titlepops
{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
.titlepops h3
{  
        font-weight: bold; 
        margin-left: 10px;
}
.titlepops i
{
        margin-right: 15px;
        font-size: 20px;
}
.element2
{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;  
}
.element2 a
{
        width: 40%;  
}
.element2 a img
{
        width: 98%; 
        height: 96%;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 20px 0px 0px 20px; 
        object-fit: cover;
}
.texto
{
        width: 60%;
        padding-left: 30px;
        padding-top: 14px;
        word-wrap: break-word;

}
.texte1
{
        font-weight: bold;
        font-size: 18px;
        padding-right: 40px;
}
.texte2
{
        padding-top: 15px;
        font-size: 14px;
}
.texte3
{  
        font-size: 13px;
        padding-top: 12%;
}
.acitivitéeth3
{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
}
.acitivitéeth3 h3
{
        margin-top: 15px;
}
.activité
{
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
}
.bloc1
{
    
        width: 20%;    
        border-radius:20px 20px 20px 20px;
        box-shadow: 2px 2px 5px rgb(210, 210, 210);

}
.bloc2
{ 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;    
}
.bloc2 .bloce
{
        border-radius:20px 20px 20px 20px;
        box-shadow: 2px 2px 5px rgb(210, 210, 210); 
}
.bloc1 img
{       width: 100%;
        height: 500px;
        border-radius:20px 20px 0 0;
        object-fit: cover;
}
.bloc2 img
{
        width: 100%;
        border-radius:20px 20px 0 0;
        object-fit: cover;
}
.bloc1 .actw
{  
        font-family: Raleway2, serif;
        margin-left: 25px; 
        margin-top: 18px;
        margin-bottom: 18px;
        word-wrap: break-word;
}
.bloc2 .actw
{
        font-family: Raleway2, serif;
        margin-left: 20px;
        margin-top: 18px;
        margin-bottom: 18px;
        word-wrap: break-word; 
}
.monfooter
{
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        margin-top: 5%;
        background-color: #F2F2F2;
}
.foot
{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 50px;
        font-family: Raleway1, serif;
        word-wrap: wrap;
}
.monfooter a 
{
        list-style-type: none;
        text-decoration: none;
        color:black;
}
.monfooter ul
{
        margin-left:-40px;

}
.monfooter li
{
        word-wrap: break-word;
        padding-bottom: 10px;
        list-style-type: none;
}
.monfooter h3
{
        word-wrap: break-word;
}

/* Mode tablette */

@media all /*screen*/ and (max-device-width: 992px)
{   

    body
    {
        padding: 0;
        margin: 0;
    }
    nav 
    {
        width: 100%;
    }
    nav ul
    {
        flex-wrap: nowrap;
    } 
    .heberg
    {
        flex-direction: column-reverse;
    } 
    .populaireeth3
    {
        width: 93%;
    }
    .populaireeth3 .element2
    {
        margin-bottom: 10px;
    }
    #conteneureth3
    {
        width: 100%;
    }
    .bloc1 .bloce
    {
        height: 100%;
    }
    .bloc2 .bloce
    {
        height: 48%;
    }
    
    .bloc1 img
    {
        height: 300px;
    }
    .bloc2 img 
    {
        height: 110px;
    }
    .activité .actw
    {
        margin-right: 8px;
    }
  
}

/*  style mobile */

@media all /*screen*/ and (max-device-width: 768px)
{

    body
    {
        padding: 0;
        margin: 0;
    }
    .titre, .banière_recherche
    {
        padding-left: 4%;
        padding-right: 4%;
    }
    #logo
    {
        position: absolute;
        margin-bottom: 85px;
        margin-left: 5%;
    }    
    nav
    {
        width: 100%;
        margin-bottom: 60px;
    }
    nav li :hover
    {
        border: none;
        padding-top: 0;
    }
    .starbi
    {
        display: inline-block;
        border: none; 
        position: relative;
        color: #0065FC;
        top: -10px;
        margin-left: 35%;
    }
    .starby
    {
        display: inline-block;
        position: relative;
        top: -10px;
        margin-left: 35%;
    }
    .oneli
    { 
        position: absolute;
        width: 50%;
        top: 90px;
        left: 0%;
        border-bottom: 2px solid #0065FC;
    }
    .twoli
    {
        position: absolute;
        width: 50%;
        top: 90px;
        left: 50%;
        border-bottom: 2px solid #F2F2F2;
    }
    .treeli
    {
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .recherche
    {
        width: 100%;
        margin-bottom: 20px;
    }
    input::placeholder
    { 
        opacity: 1;
        color: black;
    }
    #champ-text
    {
        width: calc(100% - 50px);
    }
    .button_search1
    {
        display: none;
    }
    .button_search2
    {
        display: inline-block;
        color: white;
        font-size: 20px;
        line-height: 52px;
    }
    #button-s
    {
        width: 50px;
        border-radius: 15px 15px 15px 15px;
        margin-left: -4%;
    }
    .heberg
    {
        flex-direction: column-reverse;
    }
    .populaireeth3
    {
        width: 100%;
        border-radius: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 15px;
    }
    #conteneureth3
    {
        width: 100%;
        background-color: white;
    }
    .conteneur
    {   
        padding: 0;
        width: 100%;
        flex-direction: column;
    }
    .element1
    {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;  
    }
    .element1 img
    {
        width: 98%;
        height: 160px;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
    }
    .titlepops
    {
        width: 90%;
    }
    .populaireeth3 .element2
    {
        margin-bottom: 15px;
    }
    .element2
    {
        width: 90%;  
    }
    .filtre .bund
    {
        margin-bottom: 10px;
    }
    .texto
    {
        padding-top: 2%; 
        padding-bottom: 2%;       
    }
    header, #bloc-page
    {
        padding: 0;
    }
    .activité
    {
        flex-direction: column;
    }
    .bloc1 
    {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 30px;
    }
    .bloc2 
    {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    .bloce
    {
        margin-bottom: 30px; 
    }
    .bloc1 img
    {
        width: 100%;
        height: 160px;
    }
    .bloc2 img
    {
        width: 100%;
        height: 160px;
    }
    .acitivitéeth3 h3
    {
        margin-left: 5%;
        margin-bottom: 10%;
        font-size: 20px;
        font-weight: revert;
    }
    .monfooter
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        
    }
    .foot
    {
        width: 95%;
        margin-left: 5%;
    }
}